<main class="right fade-in">
  <section class="profile">
    <div class="profile-content">
      <% if current_user  %>
          <%= image_tag current_user.large_image %>
          <h1><%= current_user.name %></h1>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
          <%= image_tag 'http://www.clker.com/cliparts/u/2/A/u/A/t/blank-profile-head-hi.png' %>
          <h1>Guest</h1>
          <%= link_to "Sign in", user_omniauth_authorize_path(:facebook) %>
      <% end %>
    </div>
  </section>
</main>