<main class="right">
  <section class="profile">
    <div class="profile-content">
      <% if current_user  %>
          <%= image_tag current_user.large_image %>
          <h1><%= current_user.name %></h1>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
          <%= image_tag 'http://www.clker.com/cliparts/u/2/A/u/A/t/blank-profile-head-hi.png' %>
          <h1>Guest</h1>
          <%= link_to "Sign in", user_omniauth_authorize_path(:facebook) %>
      <% end %>
    </div>
    <ul aria-label="Statistics">
      <li>383<span>followers</span></li>
      <li>239<span>following</span></li>
    </ul>
  </section>
</main>