<!DOCTYPE html>
<html>
<head>
  <title>Mirror</title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://use.typekit.net/jla2gxr.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
