<!DOCTYPE html>
<html>
<head>
  <title>Mirror</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://use.typekit.net/jla2gxr.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
